/* Style Landing */

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
	scrollbar-color: yellow #ff004d;
}

body {
	font-family: 'Prompt', sans-serif;
	font-size: 16px;
	line-height: 1;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
	background-color: #f2f6fa;
}

.top-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 60px 0;
    font-size: 18px;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	-webkit-animation: flow 3s ease-in-out infinite;
	        animation: flow 3s ease-in-out infinite;
	background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(#000), to(#ff004d));
	background: -o-linear-gradient(right, #000, #000, #ff004d);
	background: linear-gradient(-90deg, #000, #000, #ff004d);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ANIMATION */

@-webkit-keyframes flow {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@keyframes flow {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav li {
	padding: 0 15px;
}

.nav li:last-of-type {
	padding-right: 0;
}

.nav a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
}

.nav a:after {
	display: block;
    content: "";
    background-color: #ff004d;
    height: 2px;
    width: 0%;
    left: 50%;
	position: absolute;
	bottom: -5px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.nav a:hover{
	color: #ff004d;
}

.nav a:hover:after,
.nav a:focus:after {
	width: 100%;
	color: #ff004d;
}

h2 {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
}

.hobbies{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	padding: 100px 0;
}

.hobbies-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 65px;
	-webkit-box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
	        box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
	padding: 50px 0;
}

.hobbies-items div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 50%;
	margin-bottom: 50px;
	font-size: 18px;
}

.hobbies-items div:last-of-type{
	margin-bottom: 0;
}

.hobbies-items p {
	max-width: 230px;
	width: 100%;
	line-height: 1.2;
}

.hobbies-items img {
	margin-right: 20px;
}

.hobbies img{
	max-width: 40px;
}

.gallery {
	background-color: #232323;
	padding: 100px 0;
}

.gallery h2 {
	color: #fff;
}

.gallery-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 60px;
}


.gallery-box > div{
	overflow: hidden;
	height: 330px;
	width: 330px;
	position: relative;
	margin-bottom: 50px;
}

.gallery-box div div{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
	background-size: cover;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}

.gallery-box div:nth-of-type(1) div{
	background-image: url('../img/img1.jpg');
	background-position: center;
}

.gallery-box div:nth-of-type(2) div{
	background-image: url('../img/img4.jpeg');
	background-position: center;
}

.gallery-box div:nth-of-type(3) div{
	background-image: url('../img/img3.jpeg');
	background-position: bottom;
}

.gallery-box div:nth-of-type(4) div{
	background-image: url('../img/img5.jpeg');
	background-position: bottom;
}

.gallery-box div:nth-of-type(5) div{
	background-image: url('../img/img6.jpg');
	background-position: bottom;
}

.gallery-box div:nth-of-type(6) div{
	background-image: url('../img/img2.jpg');
	background-position: center;
}

.gallery-box div:hover div{
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

.connection {
	padding: 100px 0;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 80px;
}

.form div {
	margin-bottom: 24px;
	font-size: 19px;
}

.form div:last-of-type {
	margin-top: 40px;
}

.form input,
.form textarea {
	display: block;
	width: 400px;
	height: 45px;
	line-height: 45px;
	padding-left: 15px;
	font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
	-webkit-box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
	        box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
    color: #000;
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.form textarea {
	height: 100px;
	padding-top: 15px;
	line-height: 1.2;
}

.form .btn {
	background-color: #ff004d;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.form .btn:hover {
	background-color:#fc3a75;
	-webkit-box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
	        box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
}

.social {
	background-color: #f7f7f7;
	padding: 80px 0;
}

.social-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-top: 60px;
}

.social-items div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.social-items img{
	max-width: 45px;
	margin-bottom: 25px;
}

.social-items a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	-webkit-transition: 0.4s all ease;
	-o-transition: 0.4s all ease;
	transition: 0.4s all ease;
	font-size: 16px;
}

.social-items  a:after {
	display: block;
    content: "";
    background-color: #ff004d;
    height: 2px;
    width: 0%;
    left: 50%;
	position: absolute;
	bottom: -5px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.social-items  a:hover,
.social-items  a:focus{
	color: #ff004d;
}

.social-items a:hover:after,
.social-items a:focus:after {
	width: 100%;
	color: #ff004d;
}

footer {
	padding: 30px 0;
	font-size: 18px;
	text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.4);
}


/* CUSTOM SCROLLBAR */

body::-webkit-scrollbar {
    width: 12px;
}
 
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ff004d;
    -webkit-box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
			box-shadow: 6.5px 11.258px 15px 7px rgba(250,0,0,.17);
}

/* scrollbar {
	background-color: #fc3a75;
	-moz-font-smoothing-background-color: initial;
}
scrollbar[orient="vertical"] {
	scrollbar-color: rebeccapurple green;
	scrollbar-width: 5px;
	
	  
} */
/* 
scrollbar {
	   -moz-appearance: none !important;
	}
	scrollbarbutton {
	   -moz-appearance: none !important;
	}
	thumb{
	   -moz-appearance: none !important;
	}
	scrollcorner {
	   -moz-appearance: none !important;
	   resize:both;
	}
	scrollbar[orient="vertical"] {
		color:red;
	}



    scrollbar {
       -moz-appearance: none !important;
       background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
       -moz-appearance: none !important;
       background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
       -moz-appearance: none !important;
       background-color: rgb(255,0,0) !important;
    }
    scrollbarbutton {
       display: none !important;
    }
    scrollbar[orient="vertical"] {
      min-width: 15px !important;
    }
 */


